<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688498674735-b8luu315rblvalc8g3pbi37hrkdujhqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688498674735-b8luu315rblvalc8g3pbi37hrkdujhqp</string>
	<key>API_KEY</key>
	<string>AIzaSyB9ttRcQH6QYHYAistmeNgxlhuORYOTWEU</string>
	<key>GCM_SENDER_ID</key>
	<string>688498674735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mifuturetech.TChat</string>
	<key>PROJECT_ID</key>
	<string>familytask-8d72a</string>
	<key>STORAGE_BUCKET</key>
	<string>familytask-8d72a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688498674735:ios:2a9236008348d514634ada</string>
	<key>DATABASE_URL</key>
	<string>https://familytask-8d72a.firebaseio.com</string>
</dict>
</plist>